<div class="inner-box category-content">
    <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i>{{'POST_FREE_ADD'|translate}}</strong></h2>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" name="form" novalidate>
                <fieldset>
                    <!-- Select Basic -->
                    <div class="content-subheading"><i class="icon-user fa"></i>
                        <strong>{{'UPDATE_ADVERT_CATEGORY'|translate}}: {{advert.parent.title}}</strong>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Adtitle">{{'TITLE'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Adtitle" name="title" class="form-control input-md"
                                   required type="text" ng-model="advert.title">
                            <span class="help-block">{{'GREAT_TITLE_NEED'|translate}}</span></div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="textarea">{{'DESCRIBE'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <textarea
                                    class="form-control" id="textarea" name="text" ng-model="advert.text" required>
                            </textarea>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-3 control-label required" for="GenSquare">{{'GENERAL_SQUARE'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="GenSquare" name="square_gen" placeholder="70, 100, ..." class="form-control input-md"
                                   required type="number" ng-model="advert.square_gen">
                            <span class="help-block">{{'PROVIDE_GENERAL_SQUARE'|translate}}.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="HSquare">{{'HOUSEROOM'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="HSquare" name="square_live" placeholder="70, 100, ..." class="form-control input-md"
                                   required type="number" ng-model="advert.square_live">
                            <span class="help-block">{{'PROVIDE_HOUSEROOM'|translate}}.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="RoomHeight">{{'HEIGHT_OF_APPART'|translate}}.<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="RoomHeight" name="room_height" placeholder="2.5, 1.8 ..." class="form-control input-md"
                                   required type="number" ng-model="advert.room_height">
                            <span class="help-block">{{'PROVIDE_HEIGHT_OF_APPART'|translate}}.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="RoomN">{{'NUMBER_OF_ROOMS'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="RoomN" name="rooms" placeholder="1, 2 ..." class="form-control input-md"
                                   required type="number" ng-model="advert.rooms"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Floors">{{'NUMBER_OF_FLOORS'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Floors" name="floors" placeholder="2, 9 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.floors">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Floor">{{'FLOOR_OF_A_FLAT'|translate}}<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Floor" name="floor" placeholder="2, 9 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.floor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required">{{'BUILDING_WALL'|translate}}.<sup>*</sup></label>

                        <div class="col-md-8">
                            <select class="form-control" name="wall_type" ng-model="advert.wall_type"
                                    required>
                                <option value="0">{{'FERROCONCRETE'|translate}}</option>
                                <option value="1">{{'BRICK'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required">{{'BUILDING_TYPE'|translate}}.<sup>*</sup></label>

                        <div class="col-md-8">
                            <select class="form-control" name="build_type" ng-model="advert.build_type"
                                    required>
                                <option value="0">{{'NEW'|translate}}</option>
                                <option value="1">{{'SECONDARY'|translate}}</option>
                            </select>
                        </div>
                    </div>
                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Price">{{'PRICE'|translate}}<sup>*</sup></label>

                        <div class="col-md-4">
                            <div class="input-group"><span class="input-group-addon">$</span>
                                <input
                                        id="Price" name="price" class="form-control"
                                        required type="text" ng-model="advert.price">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Location">{{'LOCATION'|translate}}</label>

                        <div class="col-md-8">
                            <input id="Location" name="location" class="form-control input-md"
                                   required type="text" ng-model="advert.location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>

                        <div class="col-md-8">
                            <submit ng-click="!form.$invalid && save(advert, form)" class="btn btn-primary btn-lg">
                                {{'SUBMIT'|translate}}
                            </submit>
                        </div>
                    </div>
                    <div class="content-subheading"><i class="icon-user fa"></i>
                        <strong>{{'ATTACHED_FILES'|translate}}</strong>
                    </div>
                    <!-- photo -->
                    <div class="form-group">
                        <div class="col-md-8" ng-if="uploader">
                            <!--TODO. Magic numbers move to constants-->
                            <input ng-if="(uploader.queue.length + images.length) < 5" type="file" nv-file-select uploader="uploader" />
                            <input ng-if="(uploader.queue.length + images.length) >= 5" type="file" disabled />

                            <p class="help-block">
                                <span>{{'ADD_UP_TO_5_PHOTOS'|translate}}</span>
                            </p>
                        </div>
                        <div class="col-md-12" ng-if="uploader">
                            <div class="panel panel-default">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>{{'FILE'|translate}}</th>
                                            <th>{{'ACTION'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td>
                                            <span>{{item.file.name}}</span>
                                        </td>
                                        <td>
                                            <button ng-if="!item.isUploaded" class="btn btn-default btn-xs" ng-click="item.remove()">{{'CANCEL'|translate}}</button>
                                            <button ng-if="!item.isUploaded" class="btn btn-primary btn-xs" ng-click="item.upload()">{{'UPLOAD'|translate}}</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="image in images">
                                        <td>
                                            <img ng-src="{{api}}/image/{{image.id}}/image?thumb=1" style="margin:auto;">
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-xs" ng-click="removeImage(image, uploader, images)">{{'REMOVE'|translate}}</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Button  -->
                </fieldset>
            </form>
        </div>
    </div>
</div>
