<div class="inner-box category-content">
    <h2 class="title-2 uppercase"><strong> <i class="icon-docs"></i> Post a Free Classified Ad</strong></h2>

    <div class="row">
        <div class="col-sm-12">
            <form class="form-horizontal" name="form" novalidate>
                <fieldset>
                    <!-- Select Basic -->
                    <div class="content-subheading"><i class="icon-user fa"></i> <strong>Update advert. Category: {{advert.parent.title}}</strong></div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Adtitle">Ad title<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Adtitle" name="title" class="form-control input-md"
                                   required type="text" ng-model="advert.title">
                            <span class="help-block">A great title needs at least 60 characters. </span></div>
                    </div>

                    <!-- Textarea -->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="textarea">Describe ad<sup>*</sup></label>

                        <div class="col-md-8">
                            <textarea
                                    class="form-control" id="textarea" name="text" ng-model="advert.text" required>
                                Describe what makes your ad unique
                            </textarea>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="col-md-3 control-label required" for="GenSquare">General square of an appartment<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="GenSquare" name="square_gen" placeholder="70, 100, etc." class="form-control input-md"
                                   required type="number" ng-model="advert.square_gen">
                            <span class="help-block">Provide general square in a meters.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="HSquare">Houseroom<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="HSquare" name="square_live" placeholder="70, 100, etc." class="form-control input-md"
                                   required type="number" ng-model="advert.square_live">
                            <span class="help-block">Please provide a houseroom in a meters.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="RoomHeight">A height of an appartment.<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="RoomHeight" name="room_height" placeholder="2.5, 1.8 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.room_height">
                            <span class="help-block">Provide height of an appartment in a meters.</span></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="RoomN">Number of rooms in an appartment<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="RoomN" name="rooms" placeholder="1, 2 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.rooms"></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Floors">What number of floors your building have?<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Floors" name="floors" placeholder="2, 9 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.floors">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Floor">What floor your flat is on?<sup>*</sup></label>

                        <div class="col-md-8">
                            <input id="Floor" name="floor" placeholder="2, 9 etc" class="form-control input-md"
                                   required type="number" ng-model="advert.floor">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required">Type of a building's wall.<sup>*</sup></label>

                        <div class="col-md-8">
                            <select class="form-control" name="wall_type" ng-model="advert.wall_type"
                                    required>
                                <option value="0">Ferroconcrete</option>
                                <option value="1">Brick</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required">Type of a building.<sup>*</sup></label>

                        <div class="col-md-8">
                            <select class="form-control" name="build_type" ng-model="advert.build_type"
                                    required>
                                <option value="0">New</option>
                                <option value="1">Secondary</option>
                            </select>
                        </div>
                    </div>
                    <!-- Prepended text-->
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Price">Price<sup>*</sup></label>

                        <div class="col-md-4">
                            <div class="input-group"><span class="input-group-addon">$</span>
                                <input
                                        id="Price" name="price" class="form-control"
                                        required type="text" ng-model="advert.price">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                    Negotiable </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label required" for="Location">Location</label>

                        <div class="col-md-8">
                            <input id="Location" name="location" class="form-control input-md"
                                   required type="text" ng-model="advert.location">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>

                        <div class="col-md-8">
                            <submit ng-click="!form.$invalid && save(advert, form)" class="btn btn-primary btn-lg">Submit
                            </submit>
                        </div>
                    </div>
                    <div class="content-subheading"><i class="icon-user fa"></i>
                        <strong>Photos</strong>
                    </div>
                    <!-- photo -->
                    <div class="form-group">
                        <div class="col-md-8" ng-if="uploader">
                            <!--TODO. Magic numbers move to constants-->
                            <input ng-if="(uploader.queue.length + images.length) < 5" type="file" nv-file-select uploader="uploader" />
                            <input ng-if="(uploader.queue.length + images.length) >= 5" type="file" disabled />

                            <p class="help-block">
                                <span>Add up to 5 photos. Use a real image of your product, not catalogs.</span>
                            </p>
                        </div>
                        <div class="col-md-12" ng-if="uploader">
                            <div class="panel panel-default">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>File</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in uploader.queue">
                                        <td>
                                            <span>{{item.file.name}}</span>
                                        </td>
                                        <td>
                                            <button ng-if="!item.isUploaded" class="btn btn-default btn-xs" ng-click="item.remove()">cancel</button>
                                            <button ng-if="!item.isUploaded" class="btn btn-primary btn-xs" ng-click="item.upload()">upload</button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="image in images">
                                        <td>
                                            <img ng-src="{{api}}/image/{{image.id}}/image?thumb=1" style="margin:auto;">
                                        </td>
                                        <td>
                                            <button class="btn btn-default btn-xs" ng-click="removeImage(image, uploader, images)">remove</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Button  -->
                </fieldset>
            </form>
        </div>
    </div>
</div>
