<div class="inner inner-box ads-details-wrapper">
    <h2>{{advert.title}}</h2>
    <span class="info-row">
        <span class="date"><i class=" icon-clock"> </i> {{advert.created}} </span> -
        <span class="category">{{advert.parent.title}} </span> -
        <span class="item-location"><i class="fa fa-map-marker"></i> {{advert.city}} </span>
    </span>

    <div ng-if="::images" class="ads-image">
        <h1 class="pricetag"> ${{advert.price}}</h1>
        <carousel no-wrap="false">
            <slide ng-repeat="image in ::images">
                <img ng-src="{{api}}/image/{{image.id}}/image" style="margin:auto;">
            </slide>
        </carousel>
    </div>
    <div class="Ads-Details">
        <h5 class="list-title"><strong>{{'ADS_DETAILS'|translate}}</strong></h5>

        <div class="row">
            <div class="ads-details-info col-md-8" ng-bind-html="advert.text"></div>
            <div class="col-md-4">
                <aside class="panel panel-body panel-details">
                    <ul>
                        <li><p class="no-margin"><strong>{{'PRICE'|translate}}:</strong> $ {{advert.price}}</p></li>
                        <li><p class="no-margin"><strong>{{'CATEGORY'|translate}}:</strong> {{advert.parent.title}}</p></li>
                        <li><p class="no-margin"><strong>{{'LOCATION'|translate}}:</strong> {{advert.city}}</p></li>
                    </ul>
                </aside>
                <div class="ads-action">
                    <ul class="list-border">
                        <li><a href="#"> <i class=" fa fa-user"></i> {{'MORE_ADS_BY_USER'|translate}} </a></li>
                        <li><a href="#"> <i class="fa fa-share-alt"></i> {{'SHARE_AD'|translate}} </a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-footer text-left">
            <a class="btn  btn-default" data-toggle="modal" href="#contactAdvertiser">
                <i class=" icon-mail-2"></i> {{'SEND_MESSAGE'|translate}} </a>
        </div>
    </div>
</div>

