<div class="row">
  <div class="col-sm-9 page-content col-thin-right">
    <div class="inner-box category-content">
      <h2 class="title-2">Find Classified Ads World Wide </h2>
      <div class="row">
        <div class="col-md-4 col-sm-4 ">
          <div class="cat-list" ng-repeat="category in nodes.results.slice(0, 4)">
            <h3 class="cat-title"><a ui-sref="search.category({categoryId: category.id})"><i class="fa fa-car ln-shadow"></i> {{category.title}} <span class="count">277,959</span> </a>
            <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed">   <span class=" icon-down-open-big"></span> </span>
             </h3>
            <ul class="cat-collapse collapse in cat-id-1" ng-repeat="subcategory in subnodes.results|filter:category.id:subcategory.parent==category.id">
              <li> <a href="category.html">{{ subcategory.title }}</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 text-center col-sm-4">
          <div class="cat-list" ng-if="loading">
              <i class="fa fa-spinner fa-spin"></i>
          </div>
          <div class="cat-list" ng-repeat="category in nodes.results.slice(4, 8)">
            <h3 class="cat-title"><a href="category.html"><i class="fa fa-car ln-shadow"></i> {{category.title}} <span class="count">277,959</span> </a>
            <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed">   <span class=" icon-down-open-big"></span> </span>
             </h3>
            <ul class="cat-collapse collapse in cat-id-1" ng-repeat="subcategory in subnodes.results|filter:category.id:subcategory.parent==category.id">
              <li> <a href="category.html">{{ subcategory.title }}</a> </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 last-column">
          <div class="cat-list" ng-repeat="category in nodes.results.slice(8, 12)">
            <h3 class="cat-title"><a href="category.html"><i class="fa fa-car ln-shadow"></i> {{category.title}} <span class="count">277,959</span> </a>
            <span data-target=".cat-id-1" data-toggle="collapse" class="btn-cat-collapsed collapsed">   <span class=" icon-down-open-big"></span> </span>
             </h3>
            <ul class="cat-collapse collapse in cat-id-1" ng-repeat="subcategory in subnodes.results|filter:category.id:subcategory.parent==category.id">
              <li> <a href="category.html">{{ subcategory.title }}</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="inner-box relative">
      <h2 class="title-2">Featured Listings

                  <a id="nextItem" class="link  pull-right carousel-nav"> <i class="icon-right-open-big"></i></a>
       <a id="prevItem" class="link pull-right carousel-nav"> <i class="icon-left-open-big"></i> </a>

      </h2>
      <div class="row">
        <div class="col-lg-12">
          <div class="no-margin item-carousel owl-carousel owl-theme">
            <div class="item"> <a href="ads-details.html">
               <span class="item-carousel-thumb">
                <img class="img-responsive" src="/static/assets/images/item/tp/Image00011.jpg" alt="img" >
               </span>
               <span class="item-name"> Lorem ipsum dolor sit amet </span>
               <span class="price"> $ 260 </span>
           </a>
           </div>

              <div class="item"> <a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img" src="/static/assets/images/item/tp/Image00006.jpg" alt="img" > </span>
           <span class="item-name"> consectetuer adipiscing elit </span>
            <span class="price"> $ 240 </span></a> </div>


              <div class="item"><a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img" src="/static/assets/images/item/tp/Image00022.jpg" alt="img" > </span> <span class="item-name"> sed diam nonummy  </span> <span class="price"> $ 140</span></a></div>

              <div class="item"><a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img" src="/static/assets/images/item/tp/Image00013.jpg" alt="img" >  </span><span class="item-name"> feugiat nulla facilisis  </span> <span class="price"> $ 140 </span></a></div>

              <div class="item"><a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img" src="/static/assets/images/item/FreeGreatPicture.com-46404-google-drops-nexus-4-by-100-offers-15-day-price-protection-refund.jpg" alt="img" > </span> <span class="item-name"> praesent luptatum zzril  </span> <span class="price"> $ 220 </span></a></div>

              <div class="item"><a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img"  src="/static/assets/images/item/FreeGreatPicture.com-46405-google-drops-price-of-nexus-4-smartphone.jpg" alt="img" > </span> <span class="item-name"> delenit augue duis dolore  </span> <span class="price"> $ 120 </span></a></div>

              <div class="item"><a href="ads-details.html">
           <span class="item-carousel-thumb"> <img class="item-img" src="/static/assets/images/item/FreeGreatPicture.com-46407-nexus-4-starts-at-199.jpg" alt="img" > </span> <span class="item-name"> te feugait nulla facilisi </span> <span class="price"> $ 251 </span></a></div>
          </div>
        </div>
      </div>


       </div>
    <div class="inner-box relative">
      <div class="row">
        <div class="col-md-5">
          <div>
            <h3 class="title-2"> <i class="icon-location-2"></i> Popular locations  </h3>
          <div class="row">   <ul class="cat-list col-xs-6">
              <li> <a href="category.html">Atlanta</a></li>
              <li> <a href="category.html">Wichita </a></li>
              <li> <a href="category.html"> Anchorage </a></li>
              <li> <a href="category.html"> Dallas  </a></li>
              <li> <a href="category.html"> New York  </a></li>
              <li> <a href="category.html">Santa Ana/Anaheim </a></li>
              <li> <a href="category.html"> Miami  </a></li>
              <li> <a href="category.html">Los Angeles</a></li>
            </ul>

           <ul class="cat-list cat-list-border col-xs-6">
               <li> <a href="category.html">Virginia Beach  </a></li>
              <li> <a href="category.html"> San Diego   </a></li>
              <li> <a href="category.html">Boston </a></li>
              <li> <a href="category.html">Houston</a></li>
              <li> <a href="category.html">Salt Lake City </a></li>
              <li> <a href="category.html">San Francisco  </a></li>
              <li> <a href="category.html">Tampa   </a></li>
              <li> <a href="category.html"> Washington DC   </a></li>

            </ul></div>

          </div>
        </div>
        <div class="col-md-7 ">
          <h3 class="title-2"> <i class="icon-search-1"></i> Popular Makes </h3>
          <div class="row">
            <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
              <li> <a href="category.html">free </a></li>
              <li> <a href="category.html">furniture </a></li>
              <li> <a href="category.html">general </a></li>
              <li> <a href="category.html">household </a></li>
              <li> <a href="category.html">jewelry </a></li>
              <li> <a href="category.html">materials </a></li>
              <li> <a href="category.html">sporting </a></li>
              <li> <a href="category.html">tickets </a></li>
            </ul>
            <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
              <li> <a href="category.html">tools </a></li>
              <li> <a href="category.html">wanted </a></li>
              <li> <a href="category.html">cell phones </a></li>
              <li> <a href="category.html">clothes+acc </a></li>
              <li> <a href="category.html">collectibles </a></li>
              <li> <a href="category.html">electronics </a></li>
              <li> <a href="category.html">farm+garden </a></li>
              <li> <a href="category.html">garage sale </a></li>
            </ul>
            <ul class="cat-list col-md-4 col-xs-4 col-xxs-6">
              <li> <a href="category.html">heavy equip </a></li>
              <li> <a href="category.html">motorcycles </a></li>
              <li> <a href="category.html">music instr </a></li>
              <li> <a href="category.html">photo+video </a></li>
              <li> <a href="category.html">appliances </a></li>
              <li> <a href="category.html">Land </a></li>
              <li> <a href="category.html">arts+crafts </a></li>
              <li> <a href="category.html">auto parts </a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 page-sidebar col-thin-left">
    <aside>
      <div class="inner-box no-padding">
        <div class="inner-box-content"> <a href="#"><img class="img-responsive" src="/static/assets/images/site/app.jpg" alt="tv"></a> </div>
      </div>
      <div class="inner-box">
        <h2 class="title-2">Popular Categories </h2>
        <div class="inner-box-content">
          <ul class="cat-list arrow">
            <li> <a href="sub-category-sub-location.html"> Apparel (1,386) </a></li>
            <li> <a href="sub-category-sub-location.html"> Art (1,163) </a></li>
            <li> <a href="sub-category-sub-location.html"> Business Opportunities (4,974) </a></li>
            <li> <a href="sub-category-sub-location.html"> Community and Events (1,258) </a></li>
            <li> <a href="sub-category-sub-location.html"> Electronics and Appliances (1,578) </a></li>
            <li> <a href="sub-category-sub-location.html"> Jobs and Employment (3,609) </a></li>
            <li> <a href="sub-category-sub-location.html"> Motorcycles (968) </a></li>
            <li> <a href="sub-category-sub-location.html"> Pets (1,188) </a></li>
            <li> <a href="sub-category-sub-location.html"> Services (7,583) </a></li>
            <li> <a href="sub-category-sub-location.html"> Vehicles (1,129) </a></li>
          </ul>
        </div>
      </div>

      <div class="inner-box no-padding"> <img class="img-responsive" src="/static/assets/images/add2.jpg" alt=""> </div>
    </aside>
  </div>
</div>
