<div id="page-wrapper" ui-view>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Create Node</h1>
        </div>
    </div>
    <div class="row">
        <form name="form" novalidate class="simple-form" role="form">
            <div class="form-group input-group">
                <span class="input-group-addon">Category</span>

                <select class="form-control" name="category" tabindex="-1" ng-model="node.parent">
                    <option value="{{category.id}}" ng-repeat="category in grouped">
                        {{category.parent ? '-- ' + category.title : category.title }}
                    </option>
                </select>
            </div>
            <div class="form-group input-group"
                 ng-class="{'has-error': form.title.$touched && form.title.$error.title};">
                <span class="input-group-addon">Category Title<i class="mfs-icon-red">*</i></span>
                <input class="form-control" type="text" ng-model="node.title" name="title" required/><br/>
            </div>
            <div class="form-group input-group"
                 ng-class="{'has-error': form.perm.$touched && form.perm.$error.perm};">
                <span class="input-group-addon">Permission<i class="mfs-icon-red">*</i></span>
                <input class="form-control" type="text" ng-model="node.perm" name="perm" required/><br/>
            </div>
            <button type="button" ng-disabled="form.$invalid" ng-click="create(node, 'category')" class="btn btn-primary">Save
            </button>
        </form>
    </div>
</div>

