<!doctype html>
<html lang="en" ng-app="bigcity">
<head>
  <meta charset="utf-8">
  <title>Bigcity</title>
  <link rel="stylesheet" href="/static/assets/css/angular-material.css">
</head>
<body layout="column">
  <header layout="row" layout-align="end start">
     <md-button flex class="md-accent" ng-if="!curUser" ui-sref="login">sign in</md-button>
     <md-button flex class="md-accent" ng-if="curUser" ui-sref="logout" ng-click="logout()">logout</md-button>
     <md-button flex class="md-accent" ui-sref="users.register">register</md-button>
  </header>
  <md-toolbar layout="row">
  </md-toolbar>
  <md-content layout="row">
    <main ui-view></main>
  </md-content>
  <footer layout="row"></footer>
  <script src="/static/assets/libs/angular.js"></script>
  <script src="/static/assets/libs/angular-animate.js"></script>
  <script src="/static/assets/libs/angular-aria.js"></script>
  <script src="/static/assets/libs/angular-material.js"></script>
  <script src="/static/assets/libs/angular-ui-router.js"></script>
  <script src="/static/assets/libs/angular-resource.js"></script>
  <script src="/static/assets/libs/angular-local-storage.js"></script>
  <script src="/static/app/users/controller.js"></script>
  <script src="/static/app/login/controller.js"></script>
  <script src="/static/app/app.routes.js"></script>
</body>
</html>
