<div class="col-sm-5 login-box">
    <div class="panel panel-default">
        <div class="panel-intro text-center">
            <h2 class="logo-title">

                <span class="logo-icon"><i class="icon icon-search-1 ln-shadow-logo shape-0"></i> </span> <span>BIGCITY </span>
            </h2>
        </div>
        <div class="panel-body">
            <form role="form">
                <div class="form-group">
                    <label for="sender-email" class="control-label">{{ 'USERNAME' | translate}}:</label>

                    <div class="input-icon"><i class="icon-user fa"></i>
                        <input id="sender-email" type="text" placeholder="{{ 'USERNAME' | translate}}" ng-model="username" class="form-control email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user-pass" class="control-label">{{ 'PASSWORD' | translate }}:</label>

                    <div class="input-icon"><i class="icon-lock fa"></i>
                        <input type="password" class="form-control" placeholder="{{ 'PASSWORD' | translate }}" ng-model="password" id="user-pass">
                    </div>
                </div>
                <div class="form-group">
                    <a ng-click="login()" class="btn btn-primary  btn-block">{{'SUBMIT'| translate}}</a>
                </div>
            </form>
        </div>
        <div class="panel-footer">

            <p class="text-center pull-right"><a href="forgot-password.html">{{'LOST_YOUR_PASSWORD'| translate}}? </a></p>

            <div style=" clear:right"></div>
        </div>
    </div>
    <div class="login-box-btm text-center">
        <p> {{'DONT_HAVE_ACCOUNT' | translate}}? <br>
            <a ui-sref="user.create"><strong>{{'SIGNUP' | translate}} !</strong> </a></p>
    </div>
</div>