<div class="search-row-wrapper">
  <div class="container" ui-view="search">
      <div class="col-sm-3">
        <input class="form-control keyword" type="text" placeholder="e.g. Mobile Sale">
      </div>
      <div class="col-sm-3">
        <div tabindex="0">
            <select class="form-control" name="category" tabindex="-1">
              <option ng-selected="category.id===current.id" ng-repeat="category in grouped">{{category.parent ? '-- ' + category.title : category.title }}</option>
            </select>
        </div>
      </div>
      <div class="col-sm-3">
        <div tabindex="0">
          <input class="form-control keyword" type="text" placeholder="Enter Location">
        </div>
      </div>
      <div class="col-sm-3">
        <button class="btn btn-block btn-primary" ng-click="search()"> <i class="fa fa-search"></i> </button>
      </div>
  </div>
</div>

<div class="main-container">
<div class="container">
<div class="row">
  <div class="col-sm-3 page-sidebar">
    <aside>
      <div class="inner-box">
         <div class="categories-list  list-filter" ui-view="category"></div>
        <!--/.categories-list-->
        <div class="locations-list  list-filter">
          <h5 class="list-title"><strong><a href="#">Price range</a></strong></h5>
          <form role="form" class="form-inline ">
            <div class="form-group col-sm-4 no-padding">
              <input type="text" placeholder="$ 2000 " id="minPrice" class="form-control">
            </div>
            <div class="form-group col-sm-1 no-padding text-center"> - </div>
            <div class="form-group col-sm-4 no-padding">
              <input type="text" placeholder="$ 3000 " id="maxPrice" class="form-control">
            </div>
            <div class="form-group col-sm-3 no-padding">
              <button class="btn btn-default pull-right" type="submit">GO</button>
            </div>
          </form>
          <div style="clear:both"></div>
        </div><!--/.list-filter-->
      </div>

      <!--/.categories-list-->
    </aside>
  </div>
  <!--/.page-side-bar-->
  <div class="col-sm-9 page-content col-thin-left">
    <div class="category-list">
      <div class="tab-box ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs add-tabs">
          <li class="active"><a>All Ads <span class="badge">228,705</span></a></li>
          <li><a>Business <span class="badge">22,805</span></a></li>
          <li><a>Personal <span class="badge">18,705</span></a></li>
        </ul>
        <div class="tab-filter">
          <div class="selecter select-short-by closed" tabindex="0">
          <select class="selectpicker selecter-element">
            <option value="Short by">Sort by</option>
            <option value="Price: Low to High">Price: Low to High</option>
            <option value="Price: High to Low">Price: High to Low</option>
          </select>
        </div>
      </div>
      <!--/.tab-box-->
      <div class="adds-wrapper">
          <div class="tab-content">
              <div class="tab-pane active" ui-view="adverts">
                <div class="item-list make-list text-center" ng-if="loading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="item-list make-list text-center" ng-if="adverts.length == 0 && !loading">
                    <span>There are no adverts found.</span>
                </div>
                <div class="item-list make-list" ng-repeat="advert in adverts">
                    <div class="add-desc-box col-sm-7">
                        <div class="add-details">
                            <h5 class="add-title">
                                <a href="ads-details.html">{{advert.title}}</a>
                            </h5>
                            <span class="info-row">
                                <span class="date"><i class="icon-clock"></i>{{advert.created}}</span>-
                                <span class="category">{{advert.parent.title}}</span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3 text-right  price-box">
                        <h2 class="item-price"> $ {{advert.price}} </h2>
                        <a class="btn btn-danger  btn-sm make-favorite"> <i class="fa fa-certificate"></i>
                            <span>Top Ads</span>
                        </a>
                        <a class="btn btn-default  btn-sm make-favorite">
                            <i class="fa fa-heart"></i> <span>Save</span>
                        </a>
                    </div>
                </div>
              </div>
              <div class="tab-pane" id="businessAds"></div>
              <div class="tab-pane" id="personalAds"></div>
            </div>
      </div>
      <!--/.adds-wrapper-->

      <div class="tab-box  save-search-bar text-center"> <a href=""> <i class=" icon-star-empty"></i> Save Search </a> </div>
    </div>
    <div class="pagination-bar text-center">
      <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"> ...</a></li>
        <li><a class="pagination-btn" href="#">Next »</a></li>
      </ul>
    </div>
    <!--/.pagination-bar -->

    <div class="post-promo text-center">
      <h2> Do you get anything for sell ? </h2>
      <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
      <a href="post-ads.html" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a></div>
    <!--/.post-promo-->

  </div>
  <!--/.page-content-->

</div>
</div>
</div>
