<div class="category-list">
    <div class="tab-box ">
        <!--/.tab-box-->
        <div class="adds-wrapper">
            <div class="tab-content">
                <div class="tab-pane active" ui-view="adverts">
                    <div class="item-list make-list text-center" ng-if="loading">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <div class="item-list make-list text-center"
                         ng-if="adverts.length === 0 && !loading">
                        <span>There are no adverts found.</span>
                    </div>
                    <div class="item-list make-list" ng-repeat="advert in adverts">
                        <div class="add-desc-box col-sm-8">
                            <div class="add-details">
                                <h5 class="add-title">
                                    <a ui-sref="advert.preview({advertId: advert.id})">{{advert.title}}</a>
                                </h5>
                                    <span class="info-row">
                                        <span class="date"><i class="icon-clock"></i>{{advert.created}}</span>-
                                        <span class="category">{{advert.parent.title}}</span>
                                        <span class="item-location"><i
                                                class="fa fa-map-marker"></i> {{advert.city}} </span>
                                    </span>
                            </div>
                        </div>
                        <div class="col-sm-4 text-right  price-box">
                            <h2 class="item-price"> $ {{advert.price}} </h2>
                            <a class="btn btn-default  btn-sm make-favorite">
                                <i class="fa fa-heart"></i> <span>Save</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.adds-wrapper-->
    </div>
</div>
<div ng-show="adverts && !loading" class="pagination-bar text-center">
    <ul class="pagination">
        <li><a class="pagination-btn" ng-click="prev()">Prev</a></li>
        <li><a class="pagination-btn" ng-click="next()">Next</a></li>
    </ul>
</div>
<!--/.pagination-bar -->

<div class="post-promo text-center">
    <h2> Do you get anything for sell ? </h2>
    <h5>Sell your products online FOR FREE. It's easier than you think !</h5>
    <a ui-sref="advert.create" class="btn btn-lg btn-border btn-post btn-danger">Post a Free Ad </a>
</div>
<!--/.post-promo-->

